<header>
    <div class="logo">
        <svg class="icon icon-book">
            <use href="/assets/images/sprite.svg#icon-book"></use>
        </svg>
        <div class="company-name">
            <span class="name-1">Vanilla</span>
            <span class="name-2">BookStore</span>
        </div>
    </div>

    <form action="" class="search-form">
        <svg class="icon icon-search">
            <use href="/assets/images/sprite.svg#icon-search"></use>
        </svg>
        <input type="text" class="input-field" placeholder="Seach..." gorilla-keydown="getInputData">
    </form>

    <div class="user-nav">
        <%= cartList %>
        <% if(userInfo.loggedIn) { %>
            <div class="user-info">
                <img src="<%= userInfo.photoURL %>" alt="user-picture" class="user-pic">
                <span class="user-name"><%= userInfo.displayName %></span>
            </div>
        <% } else { %>
            <div class="user-info">
                <img src="" alt="user-picture" class="user-pic inactive">
                <span class="user-name" gorilla-click="displayLoginPopup">Log-in</span>
            </div>
        <% } %>
    </div>
    <%= modal %>
</header>
