<div class="side-bar">
    <div class="feature">
        <p>New Releases</p>
        <p>In Demand</p>
        <p>Recommendations</p>
        <p>Featured</p>
    </div>
    <div class="category">
        <h2>Category</h2>
        <p>Factasy</p>
        <p>Classics</p>
        <p>Best Sellers</p>
    </div>
</div>
